@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero{
    min-height: 40rem;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: v.$blanco;
    

    &__texto{
        max-width: 60rem;
        -webkit-text-stroke: 1px v.$gris;
    }

    &__enlace{
        @include m.boton(v.$terciario, v.$blanco)
    }
}